.DS_Store
.environment/reference_environment.egg-info/
.environment/reference_environment/__pychache__/
.local_agent_training_and_evaluation/__pycache/
.local_agent_training_and_evaluation/logs/*
.local_agent_training_and_evaluation/logs/best_model.zip
.local_agent_training_and_evaluation/logs/evaluations.npz
.idea/